# User-specific stuff
.idea/
*.iml
.venv/
*__pycache__/
.pypirc

# Distribution / packaging
dist/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Excel Calculator
/tests/resources/CHARGE_AF_Calculator_TMP.xlsx